<div class="limited-time-offer">
    <div class="card">
        <p-carousel [value]="products" [circular]="true" [scrollLeft]="true" [numScroll]="1"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="product-item" (click)="GotoDetail(product?.name)">
                    <div class="product-item-content">
                        <div class="product-image">
                            <span class="sale" *ngIf="product?.sale">sale</span>
                            <img [src]="product?.image" [alt]="product?.name" class="img" />
                        </div>
                        <div class="product-detail">
                            <h4 class="type">{{ product?.type }}</h4>
                            <h4 class="name">{{ product?.name }}</h4>
                            <h4 class="vendor">{{ product?.vendor }}</h4>
                            <div class="price">
                                <span class="price_compare" *ngIf="product?.price_compare!==0">{{ '$' +
                                    product?.price_compare }}</span>
                                <span>{{ '$' + product?.price }}</span>
                            </div>
                            <div class="action">
                                <span *ngIf="product?.btn_type==='add'">Add to cart</span>
                                <span *ngIf="product?.btn_type==='select'">Select options</span>
                            </div>
                            <span class="off">{{prctg(product?.price_compare, product?.price)}}% off</span>
                            <div class="reviews">
                                <span class="title">{{product?.reviews}}
                                    <span class="count"
                                        *ngIf="product?.reviews_count!==0">{{product?.reviews_count}}</span>
                                </span>
                                <span class="rate">
                                    <p-rating [ngModel]="product?.rating" [disabled]="true" [cancel]="false"></p-rating>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>