<div class="top-header">
    <nav>
        <div class="logo"><img src="assets/icons/1.png" alt="logo" (click)="gotoRoute(pageRoute?.empty)"><span
                (click)="gotoRoute(pageRoute?.empty)">Exbook</span></div>
        <div class="header">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search for Books, Author and More..." />
            </span>
        </div>
        <div class="action">
            <div class="action-btn">
                <div>
                    <p-menu #userMenu [model]="userMenuitems" [popup]="true"></p-menu>
                    <p-button [text]="true" [rounded]="true" (onClick)="userMenu.toggle($event)" pTooltip="User"
                        tooltipPosition="left" icon="pi pi-user" class="user-button" severity="secondary"></p-button>
                </div>
                <div>
                    <p-button [text]="true" [rounded]="true" pTooltip="Cart" tooltipPosition="left"
                        icon="pi pi-shopping-cart" class="cart-button" severity="secondary"
                        (onClick)="gotoRoute(pageRoute?.cartlist)">
                        <span class="cart-count">{{cartitem.length}}</span>
                    </p-button>
                </div>
                <div>
                    <p-menu #categoryMenu [model]="categoryMenuitems" [popup]="true"
                        [style]="{ 'max-height': '75vh', 'overflow-y': 'auto' }"></p-menu>
                    <p-button [text]="true" [rounded]="true" pTooltip="Category" tooltipPosition="left"
                        class="category-button" severity="secondary" (onClick)="categoryMenu.toggle($event)">
                        <span class="svg-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.34"
                                    d="M5 10H7C9 10 10 9 10 7V5C10 3 9 2 7 2H5C3 2 2 3 2 5V7C2 9 3 10 5 10Z"
                                    stroke="#64748B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M17 10H19C21 10 22 9 22 7V5C22 3 21 2 19 2H17C15 2 14 3 14 5V7C14 9 15 10 17 10Z"
                                    stroke="#64748B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path opacity="0.34"
                                    d="M17 22H19C21 22 22 21 22 19V17C22 15 21 14 19 14H17C15 14 14 15 14 17V19C14 21 15 22 17 22Z"
                                    stroke="#64748B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M5 22H7C9 22 10 21 10 19V17C10 15 9 14 7 14H5C3 14 2 15 2 17V19C2 21 3 22 5 22Z"
                                    stroke="#64748B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                    </p-button>
                </div>
                <div>
                    <p-button [text]="true" [rounded]="true" pTooltip="Notifications" tooltipPosition="left"
                        icon="pi pi-bell" class="notification-button" severity="secondary">
                        <span class="notif-count">9+</span>
                    </p-button>
                </div>
                <div>
                    <p-menu #settingMenu [model]="settingMenuitems" [popup]="true"></p-menu>
                    <p-button [text]="true" [rounded]="true" (onClick)="settingMenu.toggle($event)" pTooltip="Menu"
                        tooltipPosition="left" icon="pi pi-ellipsis-v" class="setting-button"
                        severity="secondary"></p-button>
                </div>
            </div>
        </div>
    </nav>
</div>