<app-topheader></app-topheader>
<div class="detial-container">
    <div class="image">
        <p-galleria [value]="images" [thumbnailsPosition]="thumbnail" [showThumbnailNavigators]="false"
            [numVisible]="5">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="thumbnail-nogutter">
                    <img [src]="item.thumbnailImageSrc" />
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <div class="detail">
        <div class="prod-title">
            <h1 class="page-heading">{{productData?.name}}</h1>
        </div>
        <div class="product-author">
            <span class="author">Author:</span>
            <span class="name">{{productData?.author}}</span>
        </div>
        <div class="rating-links">
            <span class="spr-badge">
                <p-rating [ngModel]="productData?.rating" [cancel]="false"></p-rating>
                <span class="spr-badge-caption">{{productData?.reviews}}</span>
            </span>
            <a href="#">Add Your Review</a>
        </div>
        <div class="group-price-sale">
            <div class="detail-price">
                <span class="detail">Buy Now:</span>
                <span class="price">${{productData?.price}}</span>
            </div>
            <div class="mrp">
                M.R.P.: <span>${{productData?.price_compare}}</span>
            </div>
            <div class="save">
                <span class="lb">Save:</span>
                <span class="value">${{(productData?.price_compare-productData?.price).toFixed(2)}}</span>
                <span class="percent">({{prctg(productData?.price_compare, productData?.price)}}%)</span>
            </div>
            <p class="includes">Inclusive of all taxes</p>
            <div class="delivered">
                <span class="free">FREE delivery</span>
                <span class="day">Monday</span>
                on orders dispatched by Exbook
            </div>
            <div class="In-stock">
                <span>In-stock</span>
            </div>
            <div class="category">
                <span>Category: </span><a href="#">{{productData?.category}}</a>
            </div>
            <div class="description">
                <span>Description</span>{{productData?.description}}
            </div>
            <!-- <div class="quantity-btns">
                <button class="plus" (click)="quantity('-')"><i class="pi pi-minus"></i></button>
                <p-inputNumber [(ngModel)]="Quntity" [min]="1" [max]="100"> </p-inputNumber>
                <button class="minus" (click)="quantity('+')"><i class="pi pi-plus"></i></button>
            </div> -->
            <p-toast [breakpoints]="{'920px': {width: '90%', right: '0'}}"></p-toast>
            <div class="buy-now">
                <button class="cart" (click)="addToCart(productData)">Add to cart</button>
                <button class="buy" (click)="buyNow(productData)">Buy it now</button>
            </div>
        </div>
    </div>
</div>
<div class="detial">
    <table class="detail-table">
        <tr>
            <th>Book Title:</th>
            <td>{{productData?.name}}</td>
        </tr>
        <tr>
            <th>Author:</th>
            <td>{{productData?.author}}</td>
        </tr>
        <tr>
            <th>Edition Language:</th>
            <td>{{productData?.languages}}</td>
        </tr>
        <tr>
            <th>Book Format:</th>
            <td>{{productData?.book_format}}</td>
        </tr>
        <tr>
            <th>Dimension:</th>
            <td>{{productData?.dimension}}</td>
        </tr>
        <tr>
            <th>Country of Origin:</th>
            <td>{{productData?.country_of_origin}}</td>
        </tr>
        <tr>
            <th>Date Published:</th>
            <td>{{productData?.published_date}}</td>
        </tr>
    </table>
</div>

<div class="detail-description">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel header="description">
            <ng-template pTemplate="header">
                <span>Description</span>
            </ng-template>
            <p>{{productData?.large_description}}</p>
        </p-tabPanel>
        <p-tabPanel header="specifications">
            <ng-template pTemplate="header">
                <span>Specifications</span>
            </ng-template>
            <p>{{productData?.specifications}}</p>
        </p-tabPanel>
        <p-tabPanel header="About Book">
            <ng-template pTemplate="header">
                <span style="white-space: nowrap;">About Book</span>
            </ng-template>
            <p>{{productData?.about_book}}</p>
        </p-tabPanel>
        <p-tabPanel header="Reviews">
            <ng-template pTemplate="header">
                <span>Reviews</span>
            </ng-template>
            <p>{{productData?.reviews}}</p>
        </p-tabPanel>
    </p-tabView>
</div>

<div class="Related_Products">
    <h1>Related Products</h1>
    <div class="Related">
        <related-products></related-products>
    </div>
</div>

<app-footer></app-footer>