@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$bgColor: "#f6f6f6";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #{$bgColor};
    font-family: Inter;
    
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #dcd0ff;
}
