@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$bgColor: "#ededed";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #{$bgColor};
    font-family: Inter;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #dcd0ff;
}

.wishlist-page,
.admin-login-page,
.advertise-page,
.checkout-page,
.gift-cards-page,
.login-page,
.my-profile-page,
.notfound-page,
.orders-page,
.privacy-policy-page,
.rewards-page,
.seller-register-page,
.supports-page,
.termsof-use-page,
.home-container,
.cart-list-container,
.categoriesdash-page,
.arts-photography-page,
.biographies-memoirs-page,
.childrens-books-page,
.cookbook-page,
.literature-fiction-page,
.mystery-suspense-page,
.sci-fi-fantasy-page,
.current-bestsellers-page,
.limited-time-offer-page,
.top-rates-book-page,
.user-register-page {
    margin-top: 80px;
    padding: 0px 1rem;
    width: 100%;
}

.detial-container {
    margin: 70px 20px 8px 20px;
    padding: 20px 1rem;

}

.book-listing {
    margin-top: 72px;
    padding: 4px 12px;
}

@media (min-width:0px) and (max-width:667px) {

    .admin-login-page,
    .advertise-page,
    .gift-cards-page,
    .login-page,
    .my-profile-page,
    .notfound-page,
    .privacy-policy-page,
    .rewards-page,
    .seller-register-page,
    .supports-page,
    .termsof-use-page,
    .categoriesdash-page,
    .arts-photography-page,
    .biographies-memoirs-page,
    .childrens-books-page,
    .cookbook-page,
    .literature-fiction-page,
    .mystery-suspense-page,
    .sci-fi-fantasy-page,
    .current-bestsellers-page,
    .limited-time-offer-page,
    .top-rates-book-page,
    .user-register-page {
        margin-top: 180px;
    }

    .checkout-page,
    .orders-page {
        margin-top: 200px;
    }

    .detial-container {
        margin: 180px 8px 8px 8px;
    }

    .wishlist-page {
        margin-top: 200px;
    }

    .home-container {
        margin-top: 190px;
    }

    .book-listing {
        margin-top: 180px;

    }

    .cart-list-container {
        margin-top: 180px;
    }

}


@media (min-width:0px) and (max-width:320px) {}

@media (min-width:320px) and (max-width:500px) {}

@media (min-width:500px) and (max-width:600px) {}

@media (min-width:600px) and (max-width:850px) {}

@media (min-width:850px) and (max-width:1000px) {}

@media (min-width:1000px) and (max-width:1150px) {}