@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$bgColor: "#ededed";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #{$bgColor};
    font-family: Inter;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #dcd0ff;
}

.exbook-layout-page,
.collection-layout-page {
    margin-top: 80px;
    padding: 0px 1rem;
    width: 100%;
}

@media (min-width:0px) and (max-width:667px) {

    .exbook-layout-page,
    .collection-layout-page {
        margin-top: 180px;
    }

}


@media (min-width:0px) and (max-width:320px) {}

@media (min-width:320px) and (max-width:500px) {}

@media (min-width:500px) and (max-width:600px) {}

@media (min-width:600px) and (max-width:850px) {}

@media (min-width:850px) and (max-width:1000px) {}

@media (min-width:1000px) and (max-width:1150px) {}